<div class="container mt-5">
  <h5 class="text-danger" *ngIf="showError">Fill all Required Values</h5>
  <div *ngIf="errorMessage" class="error-message text-danger">
    {{ errorMessage }}
  </div>
  <form [formGroup]="carsForm" (ngSubmit)="addCar()">
    <div class="form-group">
      <label for="make">Make</label>
      <select id="make" class="form-control" formControlName="make" required (change)="onMakeChange()">
        <option *ngFor="let make of makes" [value]="make">{{ make }}</option>
      </select>
      <div *ngIf="carsForm.controls['make'].invalid && (carsForm.controls['make'].dirty || carsForm.controls['make'].touched)" class="text-danger">
        Make is required.
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="model">Model</label>
      <!-- <select id="model" class="form-control" formControlName="model">
        <option *ngFor="let model of models[selectedMake]" [value]="model">{{ model }}</option>
        <option *ngFor="let model of models[carsForm.get('make')?.value]" [value]="model">{{ model }}</option>
      </select> -->
      <select id="model" class="form-control" formControlName="model">
        <option *ngFor="let model of models[carsForm.get('make')?.value]" [value]="model">{{ model }}</option>
      </select>
      <div *ngIf="carsForm.controls['model'].invalid && (carsForm.controls['model'].dirty || carsForm.controls['model'].touched)" class="text-danger">
        Model is required.
      </div>
    </div>

    <div class="form-group mt-3">
      <label for="year">Year</label>
      <select id="year" class="form-control" formControlName="year" required>
        <option *ngFor="let year of years" [value]="year">{{ year }}</option>
      </select>
    </div>

    <div class="form-group mt-3">
      <label for="imageUpload">Upload Image</label>
      <input type="file" class="form-control-file" id="imageUpload" (change)="onFileChange($event)">
    </div>

    <div class="form-group mt-3">
      <label>Is Accidented</label><br>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="accidentedYes" formControlName="isAccidented" value="Yes">
        <label class="form-check-label" for="accidentedYes">Yes</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="accidentedNo" formControlName="isAccidented" value="No">
        <label class="form-check-label" for="accidentedNo">No</label>
      </div>
    </div>

    <div class="form-group mt-3">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="Insured" formControlName="Insured">
        <label class="form-check-label" for="Insured">Insured</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="token_Paid" formControlName="token_Paid">
        <label class="form-check-label" for="token_Paid">Token Paid</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="total_Genuine" formControlName="total_Genuine">
        <label class="form-check-label" for="total_Genuine">Total Genuine</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="firstOwner" formControlName="firstOwner">
        <label class="form-check-label" for="firstOwner">1st Owner</label>
      </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Submit</button>
  </form>
</div>

<!-- Car Data -->
<div class="car-data-container" *ngFor="let car of cars">
  <div class="car-data">
    <p><strong>Created At:</strong> {{ car.createdAt | date: 'medium' }}</p>
    <p><strong>Make:</strong> {{ car.make }}</p>
    <p><strong>Model:</strong> {{ car.model }}</p>
    <p><strong>Years:</strong> {{ car.year }}</p>
    <p><img [src]="car.image" alt="car-pic" class="car-image"></p>
    <p><strong>Accidented:</strong> {{ car.isAccidented }}</p>
    <p><strong>Insured:</strong> {{ car.Insured }}</p>
    <p><strong>Token Paid:</strong> {{ car.token_Paid }}</p>
    <p><strong>Total Genuine:</strong> {{ car.total_Genuine}}</p>
    <p><strong>First Owner:</strong> {{ car.firstOwner }}</p>
    <button class="btn btn-secondary" (click)="updateCarData(car.id)">Update Car</button>
    <button class="btn btn-danger" (click)="deleteCar(car.id, 'car')">Delete Car</button>
    <button class="btn btn-success" (click)="getCarById(car.id, 'car')">Show Car</button>
  </div>
</div>
<button class="btn btn-warning load-more-btn" (click)="loadMoreCars()">Load More Cars</button>
